
// colors
$dark: #000000;
$light: #ffffff;
$primary: #febe10; //gold
$primary-shade: #faa21b;  //orange
$text-shade: #1e1e1e;  //text color
$neutral: #efece8;  //gray
$neutral-shade: #ac9f9b;  //dark-gray
$error: #9F2018;  //red
$transparentColor: transparent;

$color: red;
$color1: #f6e9e8;
$color2: #ccc2c0;
$color3: #ef4136;
$color4: #f0ece9;
$color5: #eeebe9;
$color6: #efecea;
$color7: #8f807d;
$color9: #d9d9d9;
$color11: #dbdbdb;
$color12: #00000066;
$color13: #f8f8f8;
$color14: #e8e8e8;
$color15: #5c5c5c;
$color16: #707070;

//fonts
$base: "Algebra Web","Georgia", serif;
$serif: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
$serif-bold: "LL Akkurat Bold Web","Open Sans","Calibri","Arial",sans-serif;
//font-size
$tn-font: 0.875rem; //14px
$default-font: 1rem; //16px
$paragraph-font: 1.125rem;  //18px
$title-font: 1.5rem; //24px
$banner-sub-font: 2.25rem; //36px
$banner-font: 3rem; //48px
$major: 3.75rem; //60px