@import '../core/variables.scss';

/* ==========================================================================
3. BASE STYLES
========================================================================== */

html {
	font-size: 100%;
	text-align: left;
}

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body {
	font-size: 1.125rem;
	padding: 0;
	margin: 0;
	font-family: $base;
	color: $text-shade;
	font-feature-settings: 'liga'; /* IE 10 and 11 material icon */
	-webkit-font-feature-settings: 'liga';
}
img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.gray-bg {
	background-color: $color5;
}
.gold-bg {
	background-color: $primary;
}
.black-bg {
	background-color: $dark;
}

/* =============== Typography =============== */


/* Basic text */
p {
	margin-top: 0;
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

p.s-copy {
    font-family: $serif;
    font-size: 1rem;
    line-height: 1.333;
}

small {
	font-family: $serif;
	font-size: 0.875rem;
	line-height: 1.333;
	margin-bottom: 0;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
cite {
  font-style: normal;
}
code {
	font-family: $serif;
	font-size: 1rem;
	color: $text-shade;
	background-color: $color6;
}
pre {
	font-family: $serif;
	font-size: 1rem;
	color: $text-shade;
	background-color: $color6;
	white-space: unset;
	padding: 1em 2em;
}

sup, sub {
	position: relative;
	font-size: 0.75em;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
address {
	font-style: normal;
}
button {
	cursor: pointer;
}
blockquote {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
caption,figcaption {
	font-size: 1rem;
	font-family: $serif;
}
figcaption {
	font-style: normal;
	padding: .5em 0;
}
figure {
	max-width: 100%;
}
figure a:hover{
	text-decoration: none;
	border: none;
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
}
a {
	cursor: pointer;
	border-bottom: 1px solid $text-shade;
	color: $text-shade;
	transition: 0.5s ease;
}
a, a:hover {
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid $primary;
	background-color: $primary;
}
a:active {
	border-bottom: 1px dotted $text-shade;
}
a:visited {
	border-bottom: 1px solid $text-shade;
}

/* footer and header linked images */
footer a,
footer a:hover,
footer a:visited,
nav a,
nav a:hover,
nav a:visited {
  border-bottom: 0;
}

.date {
	font-family: $serif;
	font-size: 1rem;
	line-height: 1.333;
	margin-bottom: 0;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: $base;
	font-weight: 400;
	line-height: 1.333;
	margin-top: 0;
}
h5, h6 {
	line-height: 1.5em;
}
h1 a, h2 a, h3 a, h4 a {
	display: inline;
	font-weight: 600;
}
h5 a, h6 a {
	border-bottom: 1px dotted $transparentColor;
	display: inline;
	font-weight: 400;
}
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
	background-color: $primary;
	border-bottom: 1px solid $primary;
}
h1 a:active, h2 a:active, h3 a:active,
h4 a:active, h5 a:active, h6 a:active {
	border-bottom: 1px dotted $text-shade;
}
h1 a:visited, h2 a:visited, h3 a:visited,
h4 a:visited, h5 a:visited, h6 a:visited {
	border-bottom: 1px dotted $transparentColor
}

h1 {
	font-size: 3.75rem;
	margin: 0 0 .5em;
}

h2 {
	font-size: 3rem;
	margin: 0 0 .75em;
}

h3 {
	font-size: 2.25rem;
	margin: 0 0 .5em;
}

h4 {
	font-size: 1.5rem;
	margin: 0 0 .35em;
}

h5 {
	font-size: 1.125rem;
	font-weight: 600;
	margin: 0 0 .25em;
}
h6 {
	font-size: 1rem;
	font-weight: 600;
}

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

/* default list */
ul {
    padding: 0;
    margin: 0 0 1.5em;
}
ul > li {
	padding-left: 1.5em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	position: relative;
	font-family: $base;
	font-size: 1.125rem;
	line-height: 1.5;
}

ul > li::before {
	width: 1rem;
	height: 1px;
	position: absolute;
	left: 0;
	top: .7em;
	background: $primary-shade;
	content: "";
}

ul > li > ul {
  padding: 0;
  margin: 0 0 1.5em;
}
ul > li > ul > li {
  	padding-left: 1.5em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	position: relative;
	font-family: $base;
	font-size: 1.125rem;
	line-height: 1.5;
  	list-style-type: disc;
}
ul > li > ul > li::before {
	width: 0;
	height: 0;
}

ul > li > ul > li > ul {
  	padding: 0;
  	margin: 0 0 1.5em;
}
ul > li > ul > li > ul > li {
  	padding-left: 1.5em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	position: relative;
	font-family: $serif;
	font-size: 1rem;
	line-height: 1.5;
  	list-style-type: circle;
}
/* footer and nav list */
footer ul > li,
footer ul > li > ul > li {
  list-style-type: none;
}
footer ul > li::before,
footer ul > li > ul > li::before {
  content: none;
}
nav ul > li,
nav ul > li > ul > li {
  list-style-type: none;
}
nav ul > li::before,
nav ul > li > ul > li::before {
  content: none;
}
/* secondary list */
header ul > li::before, nav ul > li::before, footer ul > li::before {
	display: none;
}

ul.disc-list {
	margin: 0 0 0.75em 0;
	padding-left: 0;
}

ul.disc-list li {
	list-style-type: disc;
	padding-left: 1.4em;
	margin-bottom: 0.75em;
	list-style-position: inside;
	text-indent: -1.4em;
	font-family: $serif;
	font-size: 1rem;
	line-height: 1.333;
}
ul.disc-list li::before {
	content: none;
}

/* nav and footer list */
ul.navigation {
}
ul.navigation li {
	list-style-type: none;

}
ul.navigation li::before {
	content: none;
}