@import '../core/variables.scss';

/* ==========================================================================
6. BUTTONS
========================================================================== */

button, .button, .btn {
	font-size: 1.125rem;
	font-family: $base;
	padding: .75rem 1.5rem;
	background: none;
	background-color: $primary;
	color: $text-shade;
	border: none;
	display: inline-block;
	border-radius: 0;
	margin:.5em 0;
	transition: 0.5s ease;
}
button:hover,
.button:hover,
.btn:hover {
	text-decoration: none;
	background-color: $primary-shade;
	color: $text-shade;
	border: none;
}

.btn-black, .button-black {
	background-color: $dark;
	color: $light;
}

.toggle-button {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.25em;
}
.toggle-button a:hover {
	text-decoration: none;
}
.toggle-button.active a,
.toggle-button.slick-current span,
.toggle-button a:hover {
	border-width: 3px 3px 1px;
	border-bottom: 3px solid;
	border-color: $dark;;
}

.attribute-url+.attribute-call_to_action {
	margin-top: .5em;
}
