@import '../core/variables.scss';

/* ==========================================================================
1. EXTERNAL RESOURCES
========================================================================== */

@import "https://cdn.candid.org/fonts/algebra/algebra.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-Bold/css/stylesheet.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-BoldItalic/css/stylesheet.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-Italic/css/stylesheet.css";
@import "https://cdn.candid.org/fonts/akkurat/Akkurat-Regular/css/stylesheet.css";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Sharp";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

/*
Font variables
$regular: "Algebra Web","Georgia", serif;
$secondary: "LL Akkurat Regular Web","Open Sans","Calibri","Arial",sans-serif;
$icon-sharp: "Material Icons Sharp";
$icon-outlined: "Material Icons Outlined";
*/

