@import '../core/variables.scss';

/* ==========================================================================
5. FORMS
========================================================================== */

form fieldset {
	*zoom: 1;
	padding: 0;
	border: none;
	clear: both;
}

form fieldset:after {
	display: table;
	content: "";
	clear: both;
}

form legend {
	background-color: transparent;
	width: auto;
	padding: 2em 0px;
	margin: 0;
	border-bottom: none;
}

form legend.expanded {
	width: 100%;
	padding: 2em 0px 0.25em;
	margin: 0 0 0.5em;
	border-bottom: solid 1px $dark;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
}

legend.expanded::after {
    font-family: "Material Icons";
    content: "remove";
}

form label {
	padding: .25em 0;
	margin-top: .5em;
	margin-bottom: 0;
	vertical-align: middle;
	font-family: $serif;
	font-size: 1rem;
}

form input,
form select,
form textarea {
	border-radius: 0;
	display: block;
	vertical-align: top;
	font-family: $serif;
	font-size: 1rem;
	margin: 0;
	padding: .75rem 1rem .5rem;
	width: 100%;
	color: $text-shade;
	background-color: $color4;
	border: none;
	border-bottom: 1px solid $dark;
}
form select.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0px;
	background-image: linear-gradient(45deg, $transparentColor 50%, $text-shade 50%),
	linear-gradient(135deg, $text-shade 50%, $transparentColor 50%),
	linear-gradient(to right, $transparentColor, $transparentColor);
	background-position: calc(100% - 20px) calc(1em + 2px),
	calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
}
input.input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
input.error {
	background-color: $color4;
	border-bottom: solid 1px $color3;
}
.error-msg {
	margin-top: 0.35em;
}
.error-msg-required {
	font-family: $serif;
	font-size: 0.875rem;
	line-height: 1.33;
	color: $color3;
	display: block;
}

form input:focus,
form select:focus,
form textarea:focus {
	outline:none;
	border:1px dotted $dark;
	background-color: $light;
}

form textarea {
	min-height:12.5em;
	}
/* form input {
	border-radius: 0!important;
	-webkit-appearance: none!important;
} */

form input[type=checkbox],
form input[type=radio],
form input[type=range] {
	box-shadow: none;
	min-height: .75em;
}

form input[type=color] {
	height: 2.25em;
	width: 2.25em;
	padding: 0.25em;
}

form input[type=checkbox],
form input[type=radio]{
	width: 1.25em;
	height: 1.25em;
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	background-color: $light;
}

form input[type=checkbox],
form input[type=color],
form input[type=radio] {
	border: solid 1px $dark;
	margin: 0 1em 0 0;
}

/* custom checkbox */
input[type=checkbox],
input[type=radio] {
	display:none !important;
}

input[type=checkbox] + label,
input[type=radio] + label {
	display: flex;
	line-height: normal;
	cursor: pointer;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
 	font-family: "Material Icons";
	display: inline-block;
	font-size: 1.25em;
}

input[type=checkbox] + label:before {
	content: "check_box_outline_blank"; /* unchecked icon */
}

input[type=radio] + label:before {
	content: "radio_button_unchecked"; /* unchecked icon */
}

input[type=checkbox]:checked + label:before {
	content: "check_box";
	color: $dark; /* checked icon */
}

input[type=radio]:checked + label:before {
	content: "radio_button_checked";
	color: $dark; /* checked icon */
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
	letter-spacing: 10px; /* space between checkbox and label */
}

input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
	letter-spacing: 10px; /* allow space for check mark */
}

.checkbox li, .radio li {
	padding: 0;
}

.checkbox li:before, .radio li:before {
	display:  none;
}

/* IE9 checkbox and radio buttons*/
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
	input[type=checkbox], input[type=radio] {
		display: inline-block !important;
	}

	form input[type=checkbox], form input[type=color], form input[type=radio] {
		border:  none;
	}

	input[type=checkbox] + label:before,
	input[type=radio] + label:before {
		display: none;
	}
}

/* IE6, IE7 and IE8  checkbox and radio buttons*/
@media \0screen\,screen\9 {
	input[type=checkbox], input[type=radio] {
		display: inline-block !important;
	}

	input[type=checkbox] + label:before {  /* Separate no stacking with commas: Imp for IE8 */
		display: none;
	}

	input[type=radio] + label:before {
		display: none;
	}

	input[type=checkbox]:checked + label:before {
		display: none;
	}

	input[type=radio]:checked + label:before {
		display: none;
	}

	form input[type=checkbox], form input[type=color], form input[type=radio] {
		border:  none;
	}
}


/* custom slider */
form input[type=range] {
	-webkit-appearance: none;
 	width: 100%; /* Specific width is required for Firefox. */
 	background: $primary; /* Otherwise white in Chrome */
	padding: 0;
	border: 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: $transparentColor;
  border-color: $transparentColor;
  color: $transparentColor;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 0;
  background: $dark;
  cursor: pointer;
  margin-top: -6.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: none; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 0;
  background: $dark;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 0;
  background: $dark;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: none;
  background: $primary;
  border-radius: 0;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $primary;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  box-shadow: none;
  background: $primary;
  border-radius: 0;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  background: $primary;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $primary;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primary;
}
input[type=range]::-ms-fill-upper {
  background: $primary;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-upper {
  background: $primary;
}

form small {
	margin-top: 0.5em;
	display: block;
}

form button,
form input[type=button],
form input[type=submit]{
	padding: .75em 1.5em;
	margin: 0;
	border: none;
	font-family: $base;
	line-height: 1;
	width: 100%;
	width: auto;
	background-color: $primary;
	color: $text-shade;
	cursor: pointer;
	transition: 0.5s ease
}

form button:hover,
form input[type=button]:hover,
form input[type=submit]:hover{
	text-decoration: none;
	background-color: $primary-shade;
	border: none
}

form::-webkit-input-placeholder{
	color: $color7;
}

form:-moz-placeholder,
form::-moz-placeholder{
	color: $color7;
}

form:-ms-input-placeholder{
	color: $color7;
}
