@import '../core/variables.scss';

/* ==========================================================================
8. MISCELLANEOUS
========================================================================== */

hr.block-divider {
	border-top: .5px solid $color2;
 	border-bottom: .5px solid $color2;
 	margin-top: 0;
 	margin-bottom: 40px;
}