@import '../core/variables.scss';

/* ==========================================================================
7. RESPONSIVE
========================================================================== */

@media screen and (max-width: 1200px){
	h1 {
		font-size: 3.75rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
	font-size: 2.25rem;
	}
}

@media screen and (max-width: 1024px){
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  blockquote {
    font-size: 1.5rem;
  }
	form button,
	form input[type=button],
	form input[type=submit] {
		width: auto;
	}
}

@media screen and (max-width: 768px){
	h1 {
		font-size: 3rem;
	}
	h2 {
	font-size: 2rem;
	}
	h3 {
	font-size: 1.5rem;
	}

	form button,
	form input[type=button],
	form input[type=submit] {
		width: auto
	}
}

@media screen and (max-width: 600px){
	h1 {
		font-size: 2.625rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.52rem;
	}
	form label {
		display: block;
		width: 100%;
	}
	form input[type=checkbox],
	form input[type=color],
	form input[type=radio] {
		display: inline-block;
	}
	form button,
	form input[type=button],
	form input[type=submit] {
		width: auto
	}
}

