@import '../core/variables.scss';

/* ==========================================================================
4. STRUCTURE
========================================================================== */

.container-left-border {
	border-left: 1px solid $primary-shade;
	padding: 0 2.5em;
	margin-left: 1.25em;
}