@charset "UTF-8";
/* CSS Document: Candid base css */


/* ==========================================================================
For any brand identity questaions, refer to:
https://how.candid.works/ (only available internally)
========================================================================== */



/* ==========================================================================
Color Variables
Core:
$black: #000000; //use for backgrounds only
$white: #ffffff;
$black-text: #1a1a1a; //use for text only
$gold: #febe10;
$orange: #faa21b; //use on lines only
Data viz:
TO DO
========================================================================== */

/* ==========================================================================
 MATERIAL ICON USAGE EXAMPLE
=============================================================================
.info::after {
	font-family: "Material Icons";
	content: "info_outline";
	vertical-align: bottom;
}
*/

/* ==========================================================================
Table of Contents:
1. EXTERNAL RESOURCES
2. RESET STYLES
3. BASE STYLES
4. STRUCTURE
5. FORMS
6. BUTTONS
7. RESPONSIVE
8. MISCELLANEOUS
========================================================================== */

@import './style/external-resources.scss';
@import './style/reset.scss';
@import './style/base.scss';
@import './style/structure.scss';
@import './style/form.scss';
@import './style/buttons.scss';
@import './style/responsive.scss';
@import './style/miscellaneous.scss';
